@import "tailwindcss";

@theme {
  --font-gotham: var(--font-gotham);

  /*COLORS INIT*/
  --color-primary: #013e87;
  --color-primary-light: #069edd;
  --color-primary-dark: #054266;
  --color-secondary: #07bedb;
  --color-secondary-light: #03e2f1;
  --color-secondary-dark: #1ca7c8;
  --color-highlight: #000000;
  --color-highlight-light: #000000;
  --color-highlight-dark: #000000;
  /*COLORS END*/

  /* ─── WhatsApp ─── */
  --color-whatsapp: oklch(0.6899 0.1545 152.54);
}

@layer components {}
