---
import BaseButton from "./base-button.astro";

type Props = {
  class?: string;
  href?: string;
  external?: boolean;
  type?: "button" | "submit" | "reset";
};

const {
  class: _class = "",
  href,
  external = false,
  type = "button",
} = Astro.props as Props;
---

<BaseButton
  class={`bg-secondary border-primary-dark text-white shadow-secondary shadow-[0_0_16px] ${_class}`}
  href={href}
  external={external}
  type={type}
>
  {
    Astro.slots.has("icon") && (
      <div slot="inner-icon">
        <slot name="icon" />
      </div>
    )
  }
  <slot />
</BaseButton>
